.terraformrc
*_override.tf
*_override.tf.json
*.DS_Store
*.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**/.terraform/*
crash.*.log
crash.log
node_modules
override.tf
override.tf.json
package-lock.json
terraform.rc
.venv*