name: reusable-fanout

on:
  workflow_call:
    inputs:
      accountbundle:
        required: true
        type: string
      additionalregions:
        required: false
        type: string
        default: "false"
      workflow:
        required: true
        type: string
      workingdirectory:
        required: true
        type: string
      home_region:
        required: true
        type: string
      deployhomeregion:
        required: true
        type: string
        

jobs:
  setup:
    name: 'setup'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    permissions:
      contents: read
      id-token: write

    outputs:
      account_ids: ${{steps.unbundle_accounts.outputs.account_ids}}
      additional_deploy_regions: ${{steps.unbundle_accounts.outputs.additional_deploy_regions}}
      home_region: ${{steps.unbundle_accounts.outputs.home_region}}
    steps:
      - name: unbundle accounts
        id: unbundle_accounts
        run: |
          echo "account_ids="$(echo ${{ inputs.accountbundle }} | fold -w12 |  jq -R . | jq -s . ) >> "$GITHUB_OUTPUT"
          echo "home_region="$(echo "${{ vars.HOME_REGION }}" | jq -cR 'split(" ")' ) >> "$GITHUB_OUTPUT"
          if [ "${{ inputs.additionalregions }}" = true ];
          then
            echo "additional_deploy_regions="$(echo "${{ vars.ADDITIONAL_REGIONS }}" | jq -cR 'split(" ")' ) >> "$GITHUB_OUTPUT"
          fi

  fan-out-home:
    if: ${{ inputs.deployhomeregion == 'true' }}
    name: 'fan-out-home'
    uses: ./.github/workflows/reusable-tf-deploy.yml
    with:
      account_id: ${{matrix.account_id}}
      region: ${{ vars.HOME_REGION }}
      workflow: ${{inputs.workflow}}
      workingdirectory: ${{inputs.workingdirectory}}
      home_region: ${{inputs.home_region}}
    needs: setup
    permissions:
      contents: read
      id-token: write
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        regions: ${{fromJson(needs.setup.outputs.home_region)}}
        account_id: ${{fromJson(needs.setup.outputs.account_ids)}}

  fan-out-additional-regions:
    if: ${{  inputs.additionalregions == 'true' }}
    name: 'fan-out-additional-regions'
    uses: ./.github/workflows/reusable-tf-deploy.yml
    with:
      account_id: ${{matrix.account_id}}
      region: ${{matrix.regions}}
      workflow: ${{inputs.workflow}}
      workingdirectory: ${{inputs.workingdirectory}}
      home_region: ${{inputs.home_region}}
    needs: [ setup ]
    permissions:
      contents: read
      id-token: write
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        regions: ${{fromJson(needs.setup.outputs.additional_deploy_regions)}}
        account_id: ${{fromJson(needs.setup.outputs.account_ids)}}